version: '3.4'
services:
    db:
        image: mariadb:10.1
        container_name: pimcore-mariadb
        working_dir: /application
        command: [mysqld, --character-set-server=utf8mb4, --collation-server=utf8mb4_unicode_ci, --innodb-file-format=Barracuda, --innodb_large_prefix=1]
        volumes:
            - .:/var/lib/mysql
            - pimcore-database:/var/lib/mysql
        environment:
            - MYSQL_ROOT_PASSWORD=ROOT
            - MYSQL_DATABASE=pimcore
            - MYSQL_USER=pimcore
            - MYSQL_PASSWORD=pimcore

    adminer:
        image: adminer
        restart: always
        ports:
            - 2002:8080

    php:
        image: dpfaffenbauer/pimcore:PHP7.2-apache
        container_name: pimcore-php
        volumes:
            - .:/var/www/html:cached
        ports:
            - "2000:80"
        depends_on:
            - db

    php-debug:
        image: dpfaffenbauer/pimcore:PHP7.2-apache-debug
        container_name: pimcore-php-debug
        volumes:
            - .:/var/www/html:cached
        ports:
            - "2006:80"
        depends_on:
            - db
        environment:
            - PHP_DEBUG=1

    mailhog:
        image: mailhog/mailhog:latest
        container_name: coreshop-mailhog
        environment:
            - MH_STORAGE=maildir
        volumes:
            - ./docker/mailhog/maildir:/maildir:rw,delegated
        ports:
            - "8025:8025"

volumes:
    pimcore-database:
